.item-list-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item-list-container h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  